{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx",
          ".ts"
        ]
      }
    ],
    "max-len": "off",
    "no-unused-vars": "warn",
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/semi": "error",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off"
  }
}